*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    background-image: url("fondologin.jpg");
}

table {
    width:100%;
    border:1px solid #017bab;
    margin-bottom: 15px;
    padding:11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;  
    
}


